* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Roboto";
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
}
html {
  font-size: 10px;
}
body {
  font-family: "Roboto";
  font-size: 1.6rem;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.btn {
  @include btn-default(#000, #fff);
}
